.container{
    padding: 0 56px;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: repeat(3, minmax(90px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header" 
    "advert body body"
    "footer footer footer";
    grid-gap: 8px;
    min-height: 300px;
}

.d1{
    background-color: lightsteelblue;
}
.d2{
    background-color: mediumseagreen;
}
.d3{
    background-color: mediumblue;
}
.d4{
    background-color: mediumslateblue;
}
.d5{
    background-color: olive;
    grid-area: 3/1/4/4;
}